---
import Footer from "../components/Footer.astro";
import Form from "../components/Form.astro";
import HeaderMovil from "../components/HeaderMovil.astro";
import HeaderPc from "../components/HeaderPc.astro";
import Layout from "../layouts/Layout.astro";
import { Icon } from 'astro-icon/components'
---
<Layout>
  <HeaderPc />
  <HeaderMovil />
  <main class="flex flex-col">
    <div class="w-full">
        <div class="container mx-auto px-3 lg:px-28 mt-32 font-montserrat ">
            <h2 class="font-bold text-negro text-20px font-montserrat border-l-2 border-primario pl-5">Contacto</h2>
        </div>
    </div>

    <div class="container mx-auto px-3 lg:px-28 mt-16 font-montserrat  ">
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-5">


            <section class="flex flex-col gap-2  p-6 border-2 border-trazoCard rounded-3xl hover:bg-acento">
                <div class="w-fit p-2 bg-negro rounded-[100%]">
                    <Icon name="cuida:phone-outline" class="size-8 text-blanco" />
                </div>

                <a href="https://wa.me/51975889555" target="_blank" aria-label="Hablar por whatsapp" class="text-negroClaro text-20px hover:text-primario transition-colors duration-200">
                    +51 975 889 555
                </a>
            </section>

            <section class="flex flex-col gap-2   p-6 border-2 border-trazoCard rounded-3xl hover:bg-acento">
                <div class="w-fit p-2 bg-negro rounded-[100%]">
                    <Icon name="cuida:mail-outline" class="size-8 text-blanco" />
                </div>

                <a href="mailto:esteban.gamarra@aurummetals.com.pe" target="_blank" aria-label="Hablar por whatsapp" class="text-negroClaro text-20px hover:text-primario transition-colors duration-200 break-all">
                    esteban.gamarra@aurummetals.com.pe
                </a>
            </section>


            <section class="flex flex-col gap-2  p-6 border-2 border-trazoCard rounded-3xl hover:bg-acento">
                <div class="w-fit p-2 bg-negro rounded-[100%]">
                    <Icon name="cuida:map-pin-outline" class="size-8 text-blanco" />
                </div>

                <a href="https://maps.app.goo.gl/pJaeAD6YFywFjcam6" target="_blank" aria-label="Hablar por whatsapp" class="text-negroClaro text-20px hover:text-primario transition-colors duration-200">
                    Av. Elmer Faucett - Tomas Val Nro. E1 Int. 303e (Centro Aéreo Comercial)
                </a>
            </section>

            
        </div>
    </div>


     <div class="bg-blanco">
      <div class="container mx-auto p-3 lg:px-28 font-montserrat grid grid-cols-1 lg:grid-cols-2 gap-10">
        <div>
          <section class="mt-24 flex gap-2 items-center">
            <h2 class="text-32px text-negro font-extrabold ">
              Contáctanos
            </h2>
                
            <div class="flex-1 h-0.5 bg-acento"></div>
          
          </section>

          <p class="text-18px font-normal text-negroClaro mt-3">
            Ponte en contacto con nuestro equipo y da el siguiente paso en tus operaciones de exportación con el respaldo de expertos
          </p>
          
          <div class="mt-5">
            <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3902.3022599003352!2d-77.10518600000002!3d-12.022699999999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTLCsDAxJzIxLjciUyA3N8KwMDYnMTguNyJX!5e0!3m2!1ses-419!2spe!4v1769049775517!5m2!1ses-419!2spe" 
              width="100%" height="400" title="Ubicación de Aurum Metals en Google Maps" style="border:0; border-radius: 16px;" allowfullscreen="" loading="lazy" 
              referrerpolicy="no-referrer-when-downgrade">
            </iframe>
          </div>
        </div>

        <div class="mt-24">
            <Form />

        </div>

      </div>
    </div>
  </main>
  <Footer/>
</Layout>