---
import Footer from "../components/Footer.astro";
import HeaderMovil from "../components/HeaderMovil.astro";
import HeaderPc from "../components/HeaderPc.astro";
import Layout from "../layouts/Layout.astro";
import ImagenNosotros from "../assets/imagen_sobre_nosotros.webp";
import Form from "../components/Form.astro";
import SociosEstratgicos from "../components/SociosEstratégicos.astro";
import { Icon } from "astro-icon/components";
---
<Layout>
  <HeaderPc />
  <HeaderMovil />
  <main class="flex flex-col">
   
        <div class="container mx-auto px-3 lg:px-28 mt-32 font-montserra ">
          
            <span class="font-bold text-negroClaro text-base font-montserrat border-l-2 border-primario pl-5">
               &gt; Sobre nosotros
            </span>         
      </div>
    


    <div class="bg-blanco">
      <div class="container mx-auto p-3 lg:px-28 mb-16">
        <div class="grid grid-cols-1 lg:grid-cols-2 items-center gap-16 font-montserrat">

          <div>
              <h1 class="text-26px text-negroClaro font-extrabold leading-10 mt-5 italic font-montserrat">
                "Líderes en asesoría de <span class="text-primario">comercio exterior"</span>
                </h1>
                <h2 class="text-32px text-negro font-extrabold leading-10 mt-10 font-montserrat ">
                Sobre nosotros
                </h2>
  
              <p class="text-18px text-negroClaro font-medium mt-4">
                Somos una agencia de asesoramiento especializada en comercio exterior y procesos de exportación, 
                con más de cinco años de experiencia acompañando a empresas de distintos sectores en sus operaciones internacionales.
              </p>
  
              <p class="text-18px text-negroClaro font-medium mt-3 ">
                Nuestro trabajo se basa en entender las necesidades de cada cliente y ofrecer soluciones claras, eficientes y 
                adaptadas a cada operación. Acompañamos cada proceso de principio a fin, brindando asesoría antes, durante y después de la exportación, con un fuerte enfoque en el cumplimiento normativo, la optimización de costos y la seguridad operativa.
              </p>
  
              <p class="text-18px text-negroClaro font-medium mt-3 ">
                Creemos en las relaciones a largo plazo, en la comunicación transparente y en 
                convertir procesos complejos en operaciones simples y confiables para nuestros clientes.
              </p>

               <h3 class="text-18px font-bold text-negro mt-10 font-montserrat">
                Nuestra ventaja estratégica
              </h3>
              <div class="grid grid-cols-1 sm:grid-cols-3 gap-1 font-montserrat mt-4 mb-5">
                  
                    <div class="flex items-center gap-1 bg-acento/50 w-fit p-4 rounded-2xl ">
                      <Icon name="mdi:world" class="text-primario size-5  "/>
                      <span class="text-14px font-semibold text-negro">
                          Logística global
                      </span>
                    </div>

                    <div class="flex items-center gap-1 bg-acento/50 w-fit p-4 rounded-2xl ">
                      <Icon name="mdi:medal" class="text-primario size-5  "/>
                      <span class="text-14px font-medium text-negro">
                          Asesoría experta
                      </span>
                    </div>

                    <div class="flex items-center gap-1 bg-acento/50 w-fit p-4 rounded-2xl ">
                      <Icon name="mdi:file-document" class="text-primario size-5  "/>
                      <span class="text-14px font-medium text-negro">
                          Cumplimiento normativo
                      </span>
                    </div>
                 
              </div>
          </div>
  
          <div class="flex flex-col justify-center items-start lg:items-end mt-10 ">
            <img src={ImagenNosotros.src} alt="Imagen Sobre Nosotros" loading="lazy"
            class="w-full h-auto rounded-4xl p-3 bg-acento">
            
              
             
            
            </div>
        </div>

    </div>
    </div>

 
     <div class="w-full p-3 lg:px-28 font-montserrat flex flex-col items-center bg-nav-dato/30">
       <h2 class="text-26px text-negro font-bold mt-28">
            Socios Estratégicos
        </h2>

        <p class="text-18px text-center text-negroClaro">
          "Juntos ofrecemos soluciones integrales para nuestros clientes"
        </p>

        
        <div class="container mx-auto p-3 lg:px-28 bg-blanco rounded-4xl mt-7 mb-10 ">
          <SociosEstratgicos/>
        </div>
        
    </div>

    <div class="bg-blanco">
      <div class="container mx-auto p-3 lg:px-28 font-montserrat grid grid-cols-1 lg:grid-cols-2 gap-16">
        <div>
          <section class="mt-24 flex gap-2 items-center">
            <h2 class="text-32px text-negro font-extrabold ">
              Contáctanos
            </h2>
                
            <div class="flex-1 h-0.5 bg-acento"></div>
          
          </section>

          <p class="text-18px font-normal text-negroClaro mt-3">
            Ponte en contacto con nuestro equipo y da el siguiente paso en tus operaciones de exportación con el respaldo de expertos
          </p>
          
          <div class="mt-5">
            <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3902.3022599003352!2d-77.10518600000002!3d-12.022699999999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTLCsDAxJzIxLjciUyA3N8KwMDYnMTguNyJX!5e0!3m2!1ses-419!2spe!4v1769049775517!5m2!1ses-419!2spe" 
              width="100%" height="400" title="Ubicación de Aurum Metals en Google Maps" style="border:0; border-radius: 16px;" allowfullscreen="" loading="lazy" 
              referrerpolicy="no-referrer-when-downgrade">
            </iframe>
          </div>
        </div>

        <div class="mt-24">
            <Form />

        </div>

      </div>
    </div>
  </main>
  <Footer/>
</Layout>