---

---
<p class="font-montserrat text-48px font-extrabold text-blancoClaro/60 leading-10">
    +<span id="counter" >0</span> AÑOS DE
         <span class="font-light italic">
            experiencia
    </span>
</p>


<script>
  const counter = document.getElementById('counter');

  if (counter) {
    let current = 0;
    const target = 5;
    const duration = 800;
    const stepTime = duration / target;
    let hasStarted = false;

    const startCounter = () => {
      if (hasStarted) return;
      hasStarted = true;

      const interval = setInterval(() => {
        current++;
        counter.textContent = current.toString();

        if (current >= target) {
          clearInterval(interval);
        }
      }, stepTime);
    };

    const observer = new IntersectionObserver(
      (entries) => {
        if (entries[0].isIntersecting) {
          startCounter();
          observer.disconnect(); // deja de observar (solo una vez)
        }
      },
      { threshold: 0.5 } // 50% visible
    );

    observer.observe(counter);
  }
</script>
