---


---


<section
  class="grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-4 gap-8 p-6 place-items-center"
>
  <a
    href="https://www.aurumlogistics.com.pe/"
    target="_blank"
    
    rel="noopener noreferrer"
    class="group"
  >
    <img
      src="/src/assets/logo-aurum-logistics.png"
      alt="Aurum Logistics"
      aria-label="Imagen de Nuestro socio Aurum Logistics"
      loading="lazy"
      class="h-16 w-auto object-contain
             grayscale opacity-70
             transition-all duration-300 ease-out
             group-hover:grayscale-0
             group-hover:opacity-100
             group-hover:scale-105"
    />
  </a>

  <a
    href="https://www.aurumcustoms.com/"
    target="_blank"
    aria-label="Imagen de Nuestro socio Aurum Customs"
    rel="noopener noreferrer"
    class="group"
  >
    <img
      src="/src/assets/logo_aurumcustoms.svg"
      alt="Aurum Customs"
      loading="lazy"
      class="h-16 w-auto object-contain
             grayscale opacity-70
             transition-all duration-300 ease-out
             group-hover:grayscale-0
             group-hover:opacity-100
             group-hover:scale-105"
    />
  </a>

  <a
    href="https://www.aurummetals.com.pe/"
    target="_blank"
    aria-label="Imagen de Nuestro socio Aurum Metals"
    rel="noopener noreferrer"
    class="group"
  >
    <img
      src="/src/assets/logo-aurummetals-color.webp"
      alt="Aurum Metals"
      loading="lazy"
      class="h-12 w-auto object-contain
             grayscale opacity-70
             transition-all duration-300 ease-out
             group-hover:grayscale-0
             group-hover:opacity-100
             group-hover:scale-105"
    />
  </a>

  <a
    href="https://www.loomis-international.com/"
    target="_blank"
    aria-label="Imagen de Nuestro socio Loomis Internacional"
    rel="noopener noreferrer"
    class="group"
  >
    <img
      src="/src/assets/logo_Loomis-International.png"
      alt="Loomis International"
      loading="lazy"
      class="h-14 w-auto object-contain
             grayscale opacity-70
             transition-all duration-300 ease-out
             group-hover:grayscale-0
             group-hover:opacity-100
             group-hover:scale-105"
    />
  </a>
</section>




