---
import Cookies from "../components/Cookies.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Aurum Metals | Consultoría en Importación y Exportación</title>
		<meta name="description" content="Aurum Metals es una consultoría especializada en importación y exportación, ofreciendo soluciones estratégicas, seguras y transparentes para el comercio internacional.">
		
		<meta name="robots" content="index, follow">
		<meta name="author" content="Aurum Metals">
		<link rel="canonical" href="https://aurummetals.com.pe/">
		
		<!-- Open Graph (redes sociales) -->
		<meta property="og:title" content="Aurum Metals | Consultoría en Importación y Exportación">
		<meta property="og:description" content="Consultoría especializada en importación y exportación con enfoque estratégico, seguro y transparente para el comercio internacional.">
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://aurummetals.com.pe/">
		<meta property="og:image" content="https://aurummetals.com.pe/assets/logo-aurum-logistics.png">

		<!-- Twitter Cards -->
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="Aurum Metals | Consultoría en Importación y Exportación">
		<meta name="twitter:description" content="Soluciones profesionales en importación y exportación para el comercio internacional.">
		<meta name="twitter:image" content="https://aurummetals.com.pe/assets/logo-aurum-logistics.png">

	</head>
	<body>
		<slot />
		<Cookies />
	</body>
</html>

